<div class="link-list w-full h-full">
    <div (click)="showNewLinkLayout = true" class="link-item add-new-link w-full h-12 shadow mt-2 flex items-center justify-center">
        <span class="text-sm uppercase">Add</span>
    </div>
    <div *ngFor="let link of linksList" class="link-item w-full h-12 shadow mt-2">
        <div class="h-full w-1/6 flex items-center justify-center float-left">
            <span class="text-sm">{{link.name}}</span>
        </div>
        <div class="h-full w-3/6 flex items-center justify-center float-left text-blue-400">
            <a class="link-item w-full text-sm" href="{{link.link}}">{{link.link}}</a>
        </div>
        <div class="h-full w-2/6 flex items-center justify-center float-left">
            <button
                (click)="editLink(link)"
                class="edit-button text-sm py-1 px-4 text-gray-600"
                type="button">
                edit
            </button>
            <button
                (click)="deleteLink(link)"
                class="delete-button text-sm text-red-400 py-1 px-4"
                type="button">
                delete
            </button>
        </div>
    </div>
</div>

<div *ngIf="showNewLinkLayout" class="modal-container">
        <div (click)="showNewLinkLayout = false" class="modal-layout"></div>
        <div class="new-link-modal bg-white p-8">
            <form>
                <div class="h-10 w-full flex items-center justify-center">
                    <span class="text uppercase font-bold">New Link</span>
                </div>
                <div class="mb-4">
                    <input 
                        [(ngModel)]="newLinkName"
                        name="link-name"
                        class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                        id="link-name" type="text" placeholder="Link Name">
                </div>
                <div class="mb-4">
                    <input 
                        [(ngModel)]="newLinkUrl"
                        name="link-url"
                        class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                        id="link-url" type="text" placeholder="Link URL">
                </div>
                <div class="flex items-center justify-center">
                    <button
                        (click)="createLink()"
                        class="create-button text-gray-700 font-bold py-2 px-4 uppercase"
                        type="button">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>