.link-list {
    .link-item {
        cursor: pointer;

        background-color: var(--color-white);

        transition: box-shadow 0.25s ease-in-out;

        &:hover {
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
        }

        .link-item {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        
        .edit-button {
            transition: color 0.3s ease-in-out;
            outline: none;
    
            &:hover {
                color: #222222;
            }
        }

        .delete-button {
            transition: color 0.3s ease-in-out;
            outline: none;
    
            &:hover {
                color: #f53f3f;
            }
        }

        &.add-new-link {
            background-color: var(--color-blue);

            span {
                color: var(--color-white);
            }
        }
    }
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    .modal-layout {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 5;

        background: rgba(0, 0, 0, 0.4);
    }

    .new-link-modal {
        position: absolute;
        left: 50%;
        top: 50%;

        z-index: 10;
    
        transform: translate(-50%, -50%);
    
        width: 400px;
        height: 250px;

        .create-button {
            transition: border-bottom 0.3s ease-in-out;
            border-bottom: 1px solid #ffffff;
    
            &:hover {
                border-bottom: 1px solid #aaaaaa;
            }
        }
    }
}