.sprints-container {
    .new-sprint {
        background-color: var(--color-white);

        .create-button {
            color: var(--color-blue);
        }
    }

    .sprint-item {
        background-color: var(--color-white);

        cursor: pointer;

        transition: box-shadow 0.25s ease-in-out;

        &:hover {
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
        }

        .arrow-block {
            mat-icon {
                color: var(--color-blue);
            }  
        }

        .retro-block {
            button {
                color: var(--color-blue);
            }
        }

        .menu-block {
            button {
                outline: none;
            }
        }
        
        .edit-button {
            transition: color 0.3s ease-in-out;
            outline: none;
    
            &:hover {
                color: #222222;
            }
        }

        .delete-button {
            transition: color 0.3s ease-in-out;
            outline: none;
    
            &:hover {
                color: #f53f3f;
            }
        }
    }

    .sprint-list {
        display: none;

        &.active {
           display: block; 
        }

        .task-id-block {
            span {
                color: var(--color-grey);
            }
        }

        .edit-button {
            color: var(--color-blue);
        }

    }
}

.all-tasks-list {
    position: fixed;
    top: 12rem;
    left: 0;

    border-top: 1px solid #bbbbbb;

    height: calc(100% - 12rem);
    overflow: auto;
}
  
.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}
  
.example-box {
    padding: 10px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    .modal-layout {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 5;

        background: rgba(0, 0, 0, 0.4);
    }

    .retro-modal {
        position: absolute;
        left: 50%;
        top: 50%;

        z-index: 10;
    
        transform: translate(-50%, -50%);
    
        width: 500px;
        height: 600px;

        .retro-item {
            height: 120px;
        }

    }
}
  