<div class="sprints-container w-full">
    <div class="new-sprint mt-2 w-full h-12 shadow">
        <div class="h-full p-2 w-4/12 flex items-center justify-center float-left">
            <input
                [(ngModel)]="newSprintName"
                name="sprint-name"
                class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                id="sprint-name" type="text" placeholder="Sprint Name">
        </div>
        <div class="h-full p-2 w-3/12 flex items-center justify-center float-left">
            <input matInput [matDatepicker]="picker" [(ngModel)]="startSprintDate" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="h-full p-2 w-3/12 flex items-center justify-center float-left">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="endSprintDate" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </div>
        <div class="h-full p-2 w-2/12 flex items-center justify-center float-left">
            <button
                (click)="createSprint()"
                class="create-button text-gray-700 font-bold py-2 px-4 uppercase"
                type="button">
                Create
            </button>
        </div>
    </div>
    <div *ngFor="let sprint of sprintsList" class="sprint-item w-full shadow mt-2">
        <div class="h-12 w-full">
            <div (click)="sprint.showList = !sprint.showList" class="arrow-block h-full w-1/12 flex items-center justify-center float-left">
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
            </div>
            <div class="h-full w-4/12 flex items-center justify-center float-left">
                <span class="text-sm">{{sprint.name}}</span>
            </div>
            <div class="h-full w-2/12 flex items-center justify-center float-left">
                <span class="text-sm">{{sprint.startDate}}</span>
            </div>
            <div class="h-full w-2/12 flex items-center justify-center float-left">
                <span class="text-sm">{{sprint.endDate}}</span>
            </div>
            <div class="retro-block h-full w-2/12 flex items-center justify-center float-left">
                <button
                    *ngIf='sprint.closed'
                    (click)="retroSprint(sprint)"
                    class="edit-button text-sm py-1 px-4 text-gray-600"
                    type="button">
                    retro
                </button>
            </div>
            <div class="menu-block h-full w-1/12 flex items-center justify-center float-left">
                <button mat-button [matMenuTriggerFor]="menu" class="leading-none">
                    <mat-icon aria-hidden="false" aria-label="menu">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="closeSprint(sprint)" mat-menu-item>close</button>
                    <button (click)="deleteSprint(sprint)" mat-menu-item>delete</button>
                </mat-menu>
            </div>
        </div>
        <div [ngClass]="{'active': sprint.showList}" class="sprint-list w-full mt-1">
            <div class="w-full bg-white">
                <div
                    cdkDropList
                    [id]="getId(sprint)"
                    [cdkDropListData]="sprint.tasks"
                    [cdkDropListConnectedTo]="['tasksList']"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of sprint.tasks" cdkDrag>
                        <div class="task-id-block h-full w-1/12 flex items-center justify-center float-left">
                            <span class="text-sm">{{item.uid}}</span>
                        </div>
                        <div class="h-full w-4/12 flex items-center justify-center float-left">
                            <span class="text-sm">{{item.title}}</span>
                        </div>
                        <div class="h-full w-2/12 flex items-center justify-center float-left">
                            <span class="text-sm">{{item.status}}</span>
                        </div>
                        <div class="h-full w-3/12 flex items-center justify-center float-left">
                            <button
                                (click)="editTask(item)"
                                class="edit-button text-sm py-1 px-4 text-gray-600"
                                type="button">
                                edit
                            </button>
                            <button
                                (click)="deleteTask(item)"
                                class="delete-button text-sm text-red-400 py-1 px-4"
                                type="button">
                                delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div
    cdkDropList
    id="tasksList"
    [cdkDropListData]="taskList"
    [cdkDropListConnectedTo]="getAllIds()"
    class="all-tasks-list z-20 w-40 bg-white"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of taskList" cdkDrag>{{item.title}}</div>
</div>

<div *ngIf="showRetroLayout" class="modal-container">
    <div (click)="showRetroLayout = false" class="modal-layout"></div>
    <div class="retro-modal bg-white p-8">
        <div class="h-10 w-full flex items-center justify-center">
            <span class="text uppercase font-bold">Retro</span>
        </div>
        <textarea 
            [(ngModel)]="retroTodo"
            name="retro-todo"
            rows="5"
            class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none resize-none"
            id="retro-todo" type="text" placeholder="Need to start doing">
        </textarea>
        <textarea 
            [(ngModel)]="retroStop"
            name="retro-stop"
            rows="5"
            class="shadow mt-4 appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none resize-none"
            id="retro-stop" type="text" placeholder="Need to stop doing">
        </textarea>
        <textarea
            [(ngModel)]="retroIdeas"
            name="retro-ideas"
            rows="5"
            class="shadow mt-4 appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none resize-none"
            id="retro-ideas" type="text" placeholder="Ideas and general impressions">
        </textarea>
        <div class="mt-6 flex items-center justify-center">
            <button
                (click)="addRetro()"
                class="create-button text-gray-700 font-bold py-2 px-4 uppercase"
                type="button">
                Add
            </button>
        </div>
    </div>
</div>
<div *ngIf="showRetroInfo" class="modal-container">
    <div (click)="showRetroInfo = false" class="modal-layout"></div>
    <div class="retro-modal bg-white p-8">
        <div class="h-10 w-full flex items-center justify-center">
            <span class="text uppercase font-bold">Retro</span>
        </div>
        <div class="shadow retro-item w-full py-2 px-3 text-gray-700 leading-tight">
            <span>{{activeRetroSprint.retroTodo}}</span>
        </div>
        <div class="shadow mt-4 retro-item w-full py-2 px-3 text-gray-700 leading-tight">
            <span>{{activeRetroSprint.retroStop}}</span>
        </div>
        <div class="shadow mt-4 retro-item w-full py-2 px-3 text-gray-700 leading-tight">
            <span>{{activeRetroSprint.retroIdeas}}</span>
        </div>
        <div class="mt-10 flex items-center justify-center">
            <button
                (click)="editRetro()"
                class="create-button text-gray-700 font-bold py-2 px-4 uppercase"
                type="button">
                Edit
            </button>
            <button
                (click)="deleteRetro()"
                class="create-button text-red-600 font-bold py-2 px-4 uppercase"
                type="button">
                Delete
            </button>
        </div>
    </div>
</div>
