<div class="head-panel absolute top-0 left-0 w-full h-12 z-10 shadow">
    <div class="logo-container float-left h-12 w-40"></div>
    <div class="user-panel float-right w-40 h-full text-right p-3">
        <span class="text-lg uppercase align-middle font-bold">{{user.name}}</span>
    </div>
</div>