.head-panel {
    background-color: var(--color-white);
}

.logo-container {
    background-color: var(--color-blue);
}

.logo-image {
    background: url('../../../assets/bg.jpeg') no-repeat center center;
    background-size: cover;
}

.user-panel {
    span {
        color: var(--color-black);
    }
}