.left-panel {
    background-color: var(--color-white);
}

.button-cell {
    border-bottom: 1px solid #eeeeee;

    transition: border 0.15s ease-in-out;

    cursor: pointer;

    color: var(--color-black);

    &:hover {
        border-bottom: 1px solid #aaaaaa;
    }
}