<div class="left-panel absolute left-0 bottom-0 w-40 h-almost absolute z-20 shadow">
    <div *ngIf="accessAdmin" (click)="activatePanel('users')" class="button-cell w-full h-16 text-center flex justify-center items-center">
        <span class="text-base uppercase font-bold">USERS</span>
    </div>
    <div (click)="activatePanel('projects')" class="button-cell w-full h-16 text-center flex justify-center items-center">
        <span class="text-base uppercase font-bold">PROJECTS</span>
    </div>
</div>