.task-panel {
    position: absolute;
    left: 50%;
    top: 50%;

    z-index: 10;

    transform: translate(-50%, -50%);

    width: 500px;
    height: 700px;

    .comments-container {
        border-top: 1px solid #444444;

        .comments-list {
            max-height: 270px;
        }
    }
}

.add-comment-button {
    color: var(--color-blue);
}