<div class="task-panel p-6 bg-white">
    <div class="h-6 w-full flex items-center justify-start">
        <span class="text-sm">{{selectedTask.uid}}</span>
    </div>
    <div class="h-8 w-full flex items-center justify-center">
        <span class="text uppercase font-bold">{{selectedTask.title}}</span>
    </div>
    <div class="mb-4 h-32 p-2 shadow">
        {{selectedTask.description}}
    </div>
    <div class="p-2 h-10 mb-4 shadow">
        {{userName}}
    </div>
    <div class="comments-container mt-2 w-full">
        <div class="comments-list w-full overflow-auto">
            <div *ngFor="let comment of commentsList" class="task-item w-full p-2 mt-2">
                <div class="text-gray-800 uppercase text-sm">{{comment.user}}</div>
                <div class="text-gray-600 text-sm">{{comment.text}}</div>
            </div>
        </div>
        <div class="new-comment-container mt-2">
            <textarea 
                [(ngModel)]="newComment"
                name="new-comment"
                rows="3"
                class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none resize-none"
                id="new-comment" type="text" placeholder="Comment">
            </textarea>
            <button
                (click)="addComment()"
                class="add-comment-button text-gray-700 font-bold py-2 px-4 uppercase"
                type="button">
                Add Comment
            </button>
        </div>
    </div> 
</div>
