<div class="workflow-container w-full h-full">
    <div class="sprint-select w-full h-10 mt-2 p-1">
        <div class="w-1/4 h-full shadow">
            <mat-select #sp (selectionChange)="selectSprint(sp.value)" class="uppercase bg-white p-1">
                <mat-option class="uppercase" *ngFor="let sprint of sprintsList" [value]="sprint.id">
                    {{sprint.name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="title-panel w-full h-6">
        <div class="h-full w-1/4 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Open</span>
        </div>
        <div class="h-full w-1/4 flex items-center justify-center float-left">
            <span class="text-sm uppercase">In Progress</span>
        </div>
        <div class="h-full w-1/4 flex items-center justify-center float-left">
            <span class="text-sm uppercase"> To Clarify</span>
        </div>
        <div class="h-full w-1/4 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Done</span>
        </div>
    </div>
    <div class="workflow-table-container">
        <div class="h-full w-1/4 p-2 flex items-center justify-center float-left">
            <div class="list-container w-full h-full bg-white shadow">
                <div
                    cdkDropList
                    id="open"
                    [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="['progress', 'clarify', 'done']"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.title}}</div>
                </div>
            </div>
        </div>
        <div class="h-full w-1/4 p-2 flex items-center justify-center float-left">
            <div class="list-container w-full h-full bg-white shadow">
                <div
                    cdkDropList
                    id="progress"
                    [cdkDropListData]="progress"
                    [cdkDropListConnectedTo]="['open', 'clarify', 'done']"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of progress" cdkDrag>{{item.title}}</div>
                </div>
            </div>
        </div>
        <div class="h-full w-1/4 p-2 flex items-center justify-center float-left">
            <div class="list-container w-full h-full bg-white shadow">
                <div
                    cdkDropList
                    id="clarify"
                    [cdkDropListData]="clarify"
                    [cdkDropListConnectedTo]="['open', 'progress', 'done']"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of clarify" cdkDrag>{{item.title}}</div>
                </div>
            </div>
        </div>
        <div class="h-full w-1/4 p-2 flex items-center justify-center float-left">
            <div class="list-container w-full h-full bg-white shadow">
                <div
                    cdkDropList
                    id="done"
                    [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="['open', 'progress', 'clarify']"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
