.login-panel {
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 350px;
    height: 250px;

    .sign-in-button {
        transition: border-bottom 0.3s ease-in-out;
        border-bottom: 1px solid #ffffff;

        &:hover {
            border-bottom: 1px solid var(--color-grey);
        }
    }
}