<div class="w-full h-full bg-gray-100">
    <div class="login-panel absolute p-4 bg-white shadow">
        <form>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="username">
                    Username
                </label>
                <input 
                    [(ngModel)]="login"
                    name="login"
                    class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                    id="username" type="text" placeholder="Username">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="password">
                    Password
                </label>
                <input
                    [(ngModel)]="password"
                    name="password"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight outline-none"
                    id="password" type="password" placeholder="******************">
            </div>
            <div class="flex items-center justify-center">
                <button
                    (click)="auth()"
                    class="sign-in-button text-gray-700 font-bold py-2 px-4 uppercase"
                    type="button">
                    Sign In
                </button>
            </div>
        </form>
    </div>
</div>
