<div class="team-container w-full h-full">
    <div class="user-select w-full h-12 mt-2 p-1 bg-white shadow">
        <div class="w-1/4 h-full float-left">
            <mat-select #sp [(value)]="newUser" class="uppercase bg-white shadow p-1">
                <mat-option class="uppercase" *ngFor="let user of userList" [value]="user">
                    {{user.name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="w-1/4 h-full float-left flex items-center justify-center">
            <button
                (click)="addUser()"
                class="add-user-button text-gray-700 font-bold py-2 px-4 uppercase"
                type="button">
                Add
            </button>
        </div>
    </div>
    <div *ngFor="let user of teamList" class="user-item w-full h-12 shadow mt-2">
        <div class="h-full w-2/6 flex items-center justify-center float-left">
            <span class="text-sm">{{user.name}}</span>
        </div>
        <div class="h-full w-2/6 flex items-center justify-center float-left">
            <span class="text-sm">{{user.role}}</span>
        </div>
        <div class="h-full w-2/6 flex items-center justify-center float-left">
            <button
                (click)="deleteTeamUser(user)"
                class="delete-button text-sm text-red-400 py-1 px-4"
                type="button">
                delete
            </button>
        </div>
        </div>
</div>