.add-user-button {
    // width: 150px;
    // height: 40px;
    // border-radius: 8px;

    // background-color: var(--color-blue);
    color: var(--color-blue);
    line-height: 25px;
}

.user-select {
    line-height: 30px;
}

.user-item {
    background-color: var(--color-white);

    cursor: pointer;

    transition: box-shadow 0.25s ease-in-out;

    &:hover {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
    }
}