.control-panel {
    border-bottom: 1px solid #bbbbbb;

    .panel-button {
        cursor: pointer;

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #f1f3f5;
        }

        &.active {
            border-bottom: 2px solid #666666;
        }
    }
}

.user-item {
    border-bottom: 1px solid #bbbbbb;

    background-color: #f7fafc;

    cursor: pointer;

    transition: background-color 0.15s ease-in-out;

    &:first-child {
        border-top: 1px solid #bbbbbb;
    }

    &:hover {
        background-color: #f1f3f5;
    }

    .block-button {
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #f53f3f;
        }
    }
}