<div class="w-full h-full bg-gray-100">
    <div class="control-panel w-full h-10 bg-gray-100">
        <div (click)="togglePanel('active')" class="panel-button active h-full w-1/3 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Active</span>
        </div>
        <div (click)="togglePanel('blocked')" class="panel-button h-full w-1/3 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Blocked</span>
        </div>
    </div>
    <div class="users-list mt-2 w-full pl-3 pr-3 bg-gray-100">
        <div class="user-item w-full h-16" *ngFor="let user of userList">
            <div class="w-2/5 h-full flex items-center float-left">
                <span>{{user.name}}</span>
            </div>
            <div class="w-2/5 h-full flex items-center float-left">
                <span>{{user.mail}}</span>
            </div>
            <div class="w-1/5 h-full flex items-center float-left">
                <button
                    (click)="block(user)"
                    class="block-button text-red-300 py-1 px-4 outline-none"
                    type="button">
                    block
                </button>
            </div>
        </div>
    </div>
</div>
