<div class="w-full h-full bg-gray-200">
    <div class="main-panel w-full h-full bg-gray-100 pt-12 pl-40">
        <app-head-panel [user]="user"></app-head-panel>
        <app-left-panel (panelEvent)="setPanel($event)" [accessAdmin]="accessAdmin"></app-left-panel>
        <app-users-panel *ngIf="showUsers"></app-users-panel>
        <app-projects-panel (setProjectEvent)="setProject($event)" *ngIf="showProjects"></app-projects-panel>
        <app-project-page [selectedProject]='selectedProject' (leaveProjectEvent)="setPanel('projects')" *ngIf="showSelectedProject"></app-project-page>
    </div>
</div>
