.project-item {
    margin-left: 4.111%;
    margin-right: 4.111%;

    border-radius: 12px;

    background-color: var(--color-white);

    cursor: pointer;

    transition: box-shadow 0.25s ease-in-out;

    &:hover {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
    }

    span {
        color: var(--color-gold);

        &.new-project-button {
            color: var(--color-blue);
        }
    }
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    .modal-layout {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 5;

        background: rgba(0, 0, 0, 0.4);
    }

    .new-project-modal {
        position: absolute;
        left: 50%;
        top: 50%;

        z-index: 10;
    
        transform: translate(-50%, -50%);
    
        width: 300px;
        height: 200px;

        .create-button {
            transition: border-bottom 0.3s ease-in-out;
            border-bottom: 1px solid #ffffff;
    
            &:hover {
                border-bottom: 1px solid #aaaaaa;
            }
        }
    }
}