<div class="relative w-full h-full bg-gray-100">
    <div class="projects-list w-full h-full p-4">
        <div (click)="showNewProjectLayout = true" class="project-item float-left w-1/4 h-48 mt-4 bg-white shadow-md flex items-center justify-center">
            <span class="new-project-button uppercase text-lg bold">New Project</span>
        </div>
        <div *ngFor="let project of projectsList" (click)="selectProject(project)" class="project-item float-left w-1/4 h-48 mt-4 bg-white shadow-md flex items-center justify-center">
            <span class="uppercase text-lg bold">{{project.name}}</span>
        </div>
    </div>
    <div *ngIf="showNewProjectLayout" class="modal-container">
        <div (click)="showNewProjectLayout = false" class="modal-layout"></div>
        <div class="new-project-modal bg-white p-8">
            <form>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold uppercase mb-3" for="project-name">
                        Project name
                    </label>
                    <input
                        [(ngModel)]="newProjectName"
                        name="project-name"
                        class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                        id="project-name" type="text" placeholder="Name">
                </div>
                <div class="flex items-center justify-center">
                    <button
                        (click)="createProject()"
                        class="create-button text-gray-700 font-bold py-2 px-4 uppercase"
                        type="button">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
    
</div>