.control-panel {
    border-bottom: 1px solid #bbbbbb;

    background-color: var(--color-white);

    .panel-button {
        cursor: pointer;

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #fafbfc;
        }

        &.active {
            border-bottom: 2px solid #999999;
        }

        span {
            color: var(--color-gold);
        }
    }
}

.workflow-panel {
    width: 100%;
    height: calc(100% - 5rem);
}
