<div class="relative w-full h-full bg-gray-100 p-2">
    <div class="title h-10 w-full flex items-center justify-start">
        <div class="w-1/3 h-full">
            <span class="text-sm uppercase text-lg">{{activeProject.name}}</span>
        </div>
        <div class="buttons-container w-2/3 h-full">
            <button
                (click)="deleteProject()"
                class="delete-button float-right text-sm text-red-400 uppercase py-1 px-4"
                type="button">
                delete
            </button>
        </div>
        
    </div>
    <div class="control-panel shadow w-full h-10">
        <div (click)="togglePanel('backlog')" [ngClass]="{'active': showTasksPanel('backlog')}" class="panel-button h-full w-1/5 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Backlog</span>
        </div>
        <div (click)="togglePanel('iterations')" [ngClass]="{'active': showTasksPanel('iterations')}" class="panel-button h-full w-1/5 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Iterations</span>
        </div>
        <div (click)="togglePanel('team')" [ngClass]="{'active': showTasksPanel('team')}" class="panel-button h-full w-1/5 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Team</span>
        </div>
        <div (click)="togglePanel('links')" [ngClass]="{'active': showTasksPanel('links')}" class="panel-button h-full w-1/5 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Links</span>
        </div>
        <div (click)="togglePanel('workflow')" [ngClass]="{'active': showTasksPanel('workflow')}" class="panel-button h-full w-1/5 flex items-center justify-center float-left">
            <span class="text-sm uppercase">Workflow</span>
        </div>
    </div>
    <div *ngIf="showTasksPanel('backlog')" class="task-list">
        <app-tasks [selectedProject]='selectedProject'></app-tasks>
    </div>
    <div *ngIf="showTasksPanel('iterations')" class="iterations-panel">
        <app-sprints [selectedProject]='selectedProject'></app-sprints>
    </div>
    <div *ngIf="showTasksPanel('team')" class="team-panel">
        <app-team [selectedProject]='selectedProject'></app-team>
    </div>
    <div *ngIf="showTasksPanel('links')" class="links-panel">
        <app-links [selectedProject]='selectedProject'></app-links>
    </div>
    <div *ngIf="showTasksPanel('workflow')" class="workflow-panel">
        <app-workflow [selectedProject]='selectedProject'></app-workflow>
    </div>
</div>