.task-item {
    cursor: pointer;

    border-radius: 6px;

    transition: box-shadow 0.25s ease-in-out;

    background-color: var(--color-white);

    &:hover {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
    }

    .edit-button {
        transition: color 0.3s ease-in-out;
        outline: none;

        color: var(--color-blue);
    }

    .delete-button {
        transition: color 0.3s ease-in-out;
        outline: none;

        &:hover {
            color: #f53f3f;
        }
    }

    .uid-element {
        color: var(--color-grey);
    }

    .status-element {
        color: var(--color-grey);
    }

    &.new-task {
        background-color: var(--color-blue);
        span {
            color: var(--color-white);
        }
        
    }
}



.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    .modal-layout {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 5;

        background: rgba(0, 0, 0, 0.4);
    }

    .new-task-modal {
        position: absolute;
        left: 50%;
        top: 50%;

        z-index: 10;
    
        transform: translate(-50%, -50%);
    
        width: 500px;
        height: 700px;

        .create-button {
            transition: border-bottom 0.3s ease-in-out;
            border-bottom: 1px solid #ffffff;

            color: var(--color-blue);
    
            &:hover {
                border-bottom: 1px solid #aaaaaa;
            }
        }
    }
}