<div class="backlog-container w-full">
    <div (click)="showNewTaskLayout = true" class="task-item new-task w-full h-12 shadow mt-2 flex items-center justify-center">
        <span class="text-sm uppercase">Add New Task</span>
    </div>
    <div *ngFor="let task of taskList" class="task-item w-full h-12 shadow mt-2">
        <div class="panel-button h-full w-1/12 flex items-center justify-center float-left">
            <span class="uid-element text-sm uppercase">{{task.uid}}</span>
        </div>
        <div (click)="selectTask(task)" class="h-full w-3/6 flex items-center justify-center float-left">
            <span class="text-sm">{{task.title}}</span>
        </div>
        <div class="h-full w-1/6 flex items-center justify-center float-left">
            <span class="status-element text-sm">{{task.status}}</span>
        </div>
        <div class="h-full w-3/12 flex items-center justify-center float-left">
            <button
                (click)="editTask(task)"
                class="edit-button text-sm py-1 px-4 text-gray-600"
                type="button">
                edit
            </button>
            <button
                (click)="deleteTask(task)"
                class="delete-button text-sm text-red-400 py-1 px-4"
                type="button">
                delete
            </button>
        </div>
    </div>
</div>
<div *ngIf="showNewTaskLayout" class="modal-container">
    <div (click)="showNewTaskLayout = false" class="modal-layout"></div>
    <div class="new-task-modal bg-white p-8">
        <form>
            <div class="h-8 w-full flex items-center justify-start">
                <span class="text-sm">{{idName}}-{{idCount}}</span>
            </div>
            <div class="h-10 w-full flex items-center justify-center">
                <span class="text uppercase font-bold">New Task</span>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm uppercase mb-3" for="task-name">
                    Task name
                </label>
                <input 
                    [(ngModel)]="newTaskName"
                    name="task-name"
                    class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                    id="task-name" type="text" placeholder="Name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm uppercase mb-3">
                    Task description
                </label>
                <textarea 
                    [(ngModel)]="newTaskDescription"
                    name="task-description"
                    rows="4"
                    class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none resize-none"
                    id="task-description" type="text" placeholder="Description">
                </textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm uppercase mb-3">
                    Member
                </label>
                <div class="shadow p-2 h-10">
                    <mat-select #sp [(value)]="newTaskUser" class="uppercase bg-white">
                        <mat-option class="uppercase" *ngFor="let user of teamList" [value]="user">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm uppercase mb-3">
                    Final date
                </label>
                <div class="shadow p-2 h-12">
                    <input class="float-left mt-1" matInput [matDatepicker]="picker" [(ngModel)]="endTaskDate" placeholder="End Date" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <button
                    (click)="createTask()"
                    class="create-button text-gray-700 font-bold py-2 px-4 uppercase"
                    type="button">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="showEditTaskLayout" class="modal-container">
    <div (click)="showEditTaskLayout = false" class="modal-layout"></div>
    <div class="new-task-modal bg-white p-8">
        
        <div class="h-8 w-full flex items-center justify-start">
            <span class="text-sm">{{taskToEdit.uid}}</span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm uppercase mb-3" for="task-name">
                Task name
            </label>
            <input 
                [(ngModel)]="editTaskName"
                name="task-name"
                class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                id="task-name-edit" type="text" placeholder="Name">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm uppercase mb-3">
                Task description
            </label>
            <textarea 
                [(ngModel)]="editTaskDescription"
                name="task-description"
                rows="4"
                class="shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight outline-none resize-none"
                id="task-description-edit" type="text" placeholder="Description">
            </textarea>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm uppercase mb-3">
                Member
            </label>
            <div class="shadow p-2 h-10">
                <mat-select #sp [(value)]="editTaskUser" class="uppercase bg-white">
                    <mat-option class="uppercase" *ngFor="let user of teamList" [value]="user">
                        {{user.name}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <!-- <div class="mb-4">
            <label class="block text-gray-700 text-sm uppercase mb-3">
                Final date
            </label>
            <div class="shadow p-2 h-12">
                <input class="float-left mt-1" matInput [matDatepicker]="picker" [(ngModel)]="endTaskDate" placeholder="End Date" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </div> -->
        <div class="flex items-center justify-center">
            <button
                (click)="updateTask()"
                class="create-button text-gray-700 font-bold py-2 px-4 uppercase"
                type="button">
                Update
            </button>
        </div>
        
    </div>
</div>
<div *ngIf="showTaskInfo" class="modal-container">
    <div (click)="showTaskInfo = false" class="modal-layout"></div>
    <app-task-info [selectedTask]='selectedTask'></app-task-info>
</div>