@tailwind base;  
@tailwind components;  
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
    color: #414141;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;

    --color-blue: #80D0FF;
    --color-gold: #FFC065;
    --color-black: #3A3F48;
    --color-grey: #9FA7B6;
    --color-white: #FFFFFF;
}
